
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Jost', sans-serif;
    background-color: teal;
    /* mix-blend-mode: color-dodge; */
}

/* header{
    display: flex;
    width: 100vh;
    position: relative;
    line-height: 20px;

} */

.container-logo-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    z-index: 5;
}

.logo{
    display: flex;
}

.logo img{
    width: 80px;
    height: 80px;
    margin: auto 50px;
    padding: 10px;
    border-radius: 80px;
    opacity: 0.5;
    /* background-blend-mode: multiply; */
}

.nav{
    display: flex;
    /* width: 100%; */
    position: relative;
    justify-content: space-between;
}

.nav .container-nav-links{
    max-width: 92rem;
    margin: 2rem 2rem;
    border-radius: 5em;
}

.nav .container-nav-links .nav-links{
    display: flex;
    justify-content: space-between;
}

ul li{
    display: flex;
    justify-content: space-between;
}

ul li a{
    display: inline-block;
    text-align: center;
    position: relative;
    list-style-type: none;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    /* background-color: brown; */
    border-radius: 76px;
    margin-top: 2px;
    margin-right: 10px;
    padding: 10px 15px;
    font-weight: bold;
}

.active-link{
    background-color: rgb(233, 15, 15);
}

a:hover{
    color: rgb(14, 64, 226);
    border-radius: 2px solid rgb(174, 245, 82);
}

.landImg{
    display: flex;
}

.landing-text{
    font-family: 'Jost', sans-serif;
    padding: 30px 30px;
    margin: 9rem 2rem;
    color: white;
    translate: 30% 15%;
}

img{
    width: 25rem;
    height: 23rem;
    mix-blend-mode: normal;
}

.git-img{
    width: 2px;
    /* height: 1px; */
    margin: 7rem 20rem;
    padding: 20px 30px;
}

h1{
    text-align: center;
    text-shadow: 16em;
    text-transform: uppercase;
}

h6{
    font-style: italic;
    text-align: center;
    font-size: large;
}

.about{
    position: relative;
    padding: 16px auto;
    margin-top: .2rem;
}

.about-section .head{
    text-align: center;
    margin: auto 20px;
    padding: 2rem 27px;
}

.A_bout{
    position: relative;
    text-align: center;
}

.container-e{
  display: flex;
  margin-right: 100px;
  padding: 20px 30px;
}

.education{
    text-align: center;
    background-color: beige;
    border-radius: 30px;
    margin-right: 20px;
}

.education .school-info-title{
    padding: 20px 16px;
    align-items: center;
}

.education .school-info{
    font-style: italic;
}

.job-expereience{
    text-align: center;
    background-color: beige;
    border-radius: 30px;
    margin-right: 20px;
}

.job-expereience .job{
    padding: 20px 16px;
    align-items: center;
}

.Job-Ex{
    font-style: italic;
}

.hobbies{
    text-align: center;
    background-color: beige;
    border-radius: 30px;
    margin-right: 20px;
}

.hobbies .hobby{
    text-align: center;
    width: 25rem;
    font-weight: bold;
    padding: 20px 16px;
}

.unorder{
    justify-content: center;
    list-style-type: none;
    /* margin: 10px 15px; */
    line-height: 19px;
}

.order{
    font-style: italic;
    margin-left: 8rem;
}

.interestedskills{
    text-align: center;
    background-color: beige;
    border-radius: 30px;
    width: 50rem;
}

.interestedskills .int{
    text-align: center;
    /* width: 25rem; */
    font-weight: bold;
    /* margin: 20px 20px; */
    padding: 20px 16px;
}

.inadsk{
    font-style: italic;
}

.contact{
    display: block;
}

.contacts{
    text-align: center;
    padding: 2rem 0rem;
    text-transform: uppercase;
}

.form-info{
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(12, 175, 224);
    width: 50rem;
    height: 25rem;
    margin-left: 30rem;
    padding: 2rem 2rem;
    border-radius: 5rem;
}

.form-info-fo{
    text-align: center;
    font-style: italic;
    margin-top: 0.1rem;
    padding: 1rem;
}

.social-media{
    position: relative;
    margin-top: 100px;
    text-align: center;
}

.container-social-media{
    display: flex;
    justify-content: space-between;
    padding: 50px 25px;
    margin: 25px 60px;
    font-style: italic;
}

.container-social-media{
    text-align: center;
}

img{
    border-radius: 10000rem;
}

.facebook-img{
    width: 2rem;
    height: 3rem;
}

.footer{
    display: block;
    background-color: beige;
}

.copyright{
    text-align: center;
    font-size: large;
}

.Qoute{
    display: block;
}

.q-1{
    text-align: center;
    font-style: oblique;
}

.theqoute{
    text-align: center;
    /* margin-left: 30rem; */
    font-style: italic;
}
